* {
  font-family: 'Roboto';
  text-decoration: none;
}

.navbar {
  height: 9vh;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
}
.navbar-items-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .navbar {
    height: 10vh;
    padding: 20px 40px 20px 40px;
  }
}
.book-hub-logo {
  height: 25px;
}
@media screen and (min-width: 768px) {
  .book-hub-logo {
    height: 43px;
  }
}
.mobile-menu-icon {
  border: none;
  background: none;
}
@media screen and (min-width: 768px) {
  .mobile-menu-icon {
    display: none;
  }
}
.mobile-menu-container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .mobile-menu-container {
    display: none;
  }
}
.mobile-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.link-item {
  color: #64748b;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
}
.selected-item {
  color: #0284c7;
}

.desktop-menu-container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .desktop-menu-container {
    display: none;
  }
}

.desktop-menu-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.logout-button {
  background: #0284c7;
  color: #f8fafc;
  height: 25px;
  width: 80px;
  font-size: 12px;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .logout-button {
    background: #0284c7;
    color: #f8fafc;
    height: 40px;
    width: 130px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
  }
}
.mobile-menu-close-button {
  border: none;
  background: none;
}
.desktop-book-shelves-text {
  color: #64748b;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .desktop-book-shelves-text {
    margin-right: 30px;
    margin-left: 30px;
  }
}
